
#list{
	float:left;
	width: 300px;
	text-align: left;
}

.mainList:hover {
	cursor: pointer;
}

.subList:hover {
	font-style: italic;
	cursor: pointer;
}

#adminContainer {
	width: 800px;
	margin: 0px auto;
	padding-top: 30px;
}

#rightDiv {
	float: left;
	width: 500px;
}